urllib3 < 2
email-validator
Flask
Jinja2
langchain==0.0.152
openai>=0.27.2
pyperclip
PyYAML
rich
sqlalchemy
tiktoken
gevent
gunicorn
flask_login
jsonschema
flask_inputs
deepmerge
alembic
flask_caching
flask_sqlalchemy
nb_log